* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #2a6c5a);
}
textarea:focus,
input:focus {
  outline: none;
  border: none;
}

input{
    color: rgb(73, 209, 152);
        
}
